@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text-primary);
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-family-base);
    background-color: #f8f8f8;
}