.card {
  min-width: 140px;
  height: 100px;
  border-radius: var(--radius-lg);
  padding: var(--spacing-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 60px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 8px;
}
