.card {
  min-width: 150px;
  height: 150px;
  border-radius: var(--radius-lg);
  padding: var(--spacing-5) var(--spacing-3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  background-color: #FFD139;
}

.card span {
  color: var(--color-gray);
  font-size: var(--font-size-xl);
}

.card img {
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
