.loginContainer {
    height: 100vh;
}

.loginHeader {
    height: 5%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: var(--spacing-3);
}

.loginHeader span {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-xl);
    letter-spacing: 1px;
    color: var(--color-text-primary);
}

.loginHeader button {
    width: 5%;
    border: none;
    background: none;
    cursor: pointer;
}

.loginHeader button img {
    width: 100%;
    height: 100%;
}

.loginContent {
    height: 95%;
    padding: var(--spacing-5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.container h1 {
    font-size: var(--font-size-3xl);
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-3)
}

.error {
    color: var(--color-error);
    font-size: var(--font-size-sm);
}

.linkEsqueciSenha {
    color: var(--color-primary);
}