.container {
    flex: 1;
    overflow-y: auto;
    padding: var(--spacing-4);
}

.banner {
    height: 100px;
    border-radius: var(--radius-md);
    padding: var(--spacing-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    margin-bottom: var(--spacing-6);
    position: relative;
    overflow: hidden;
}

.banner h1 {
    font-size: var(--font-size-lg);
}

.banner img {
    width: 80px;
    position: absolute;
    bottom: 0;
    right: 8px;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-4)
}