.button {
    padding: var(--spacing-4);
    border-radius: var(--radius-md);
    font-size: var(--font-size-lg);
    width: 100%;
    border: none;
    cursor: pointer;
}

/* VARIANTES */

.btnPrimary {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.btnSecondary {
    color: var(--color-white);
    background-color: var(--color-gray);
}