.searchHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-4);
    background-color: var(--color-primary);
    padding: var(--spacing-2);
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
}

.iconButton img {
    height: 25px;
    width: 25px;
}

.searchBox {
    flex: 1;
    position: relative;
}

.searchBox input {
    width: 100%;
    background-color: #fff;
}

.searchIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}