.container {
  margin-top: var(--spacing-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3);
  padding: 0 var(--spacing-6);
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--spacing-3);
}

.quantity {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-gray);
}

.quantity > button {
  border: none;
  height: 100%;
  padding: var(--spacing-1) ;
  background-color: transparent;
  color: var(--color-gray);
  font-size: var(--font-size-md);
  font-weight: 400;
}

.list {
  display: flex;
  gap: var(--spacing-md);
  overflow-x: auto;
  padding-bottom: var(--spacing-sm);
}

.list::-webkit-scrollbar {
  display: none;
}
