.container {
    height: 100vh;
    padding: 0 var(--spacing-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-4);
}

.title {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-title);
    color: var(--color-primary);
}

.welcomeDivider {
    text-align: center;
}

.welcomeSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
}

.socialBtn {
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color-default);
    background-color: var(--color-white);
    border-radius: var(--radius-full);
    padding: var(--spacing-1);
    cursor: pointer;
}

.socialBtn img {
    width: 100%;
    border-radius: var(--radius-full);
}